/* Apply styles to different HTML eleements */

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100wh;
    background-color: #f0f0f0;
}

.box {
    width: 200px;
    height: 200px;
    padding: 20px;
    text-align: center;
    color: white;
    font-size: 18px;
}

.red{
    background-color: #e74c3c;
}

.green {
    background-color: #27ae60;
}

.blue {
    background-color: #3498db;
}